<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="loginAction" class="com.ssh.actions.LoginAction"> <property 
		name="ud"> <ref bean="usersDao"/> </property> </bean> -->

	<bean id="cartAction" class="com.clothes.cart.controller.CartAction">
		<property name="cartService">
			<ref bean="cartService" />
		</property>
	</bean>

</beans>