<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库连接 -->
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=UsersDB</property>
		<property name="connection.username">sa</property>		<!-- 指定数据库用户名 -->
		<property name="connection.password">88888888</property>		<!-- 指定数据库密码 -->
	   
	    <!-- 配置映射文件 -->
		<!-- <mapping resource="model/User.hbm.xml"/> -->
		<mapping resource="model/Users.hbm.xml"/>
		<mapping resource="model/Ticket.hbm.xml"/>
	
	</session-factory>
</hibernate-configuration>
	